.item-container {
    padding:10px;
    margin-top: 10px;
    width: 95%;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.item-container:hover {
    background: rgb(237, 242, 250);
}